
.prose {
    @apply prose-stone dark:prose-invert prose-headings:font-serif prose-headings:font-normal;

    p:has(img) {
        @apply max-w-none;
        img {
            @apply rounded w-full overflow-hidden;
        }
    }

    /* Target code blocks, but not code blocks inside pre tags */
    code:not(pre code):not(& > code) {
        @apply p-0.5 rounded bg-stone-200 dark:bg-stone-700 shadow;
    }

    blockquote {
        @apply font-serif text-2xl;
    }

    blockquote footer {
        @apply mt-4 block text-base not-italic text-stone-600 dark:text-stone-400;
    }
}

.prose-mobile-h1 > h1:first-of-type {
	@apply max-md:hidden;
}

.styled-anchor,
.prose a {
    @apply inline-block px-1 -mx-1 transition-[background-color,box-shadow] duration-500 hover:bg-stone-800 hover:shadow hover:text-stone-100 dark:hover:bg-stone-100 dark:hover:text-stone-700 text-stone-700 dark:text-stone-200 rounded hover:bg-radial-[at_20%_0%] from-stone-600 to-stone-800 dark:from-stone-200 dark:to-stone-400;
}

@layer base {
	.font-mono {
		font-feature-settings: 'liga' 1, 'calt' 1;
		font-variant-ligatures: common-ligatures contextual;
	}
}
