---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not found">
	<main class="grid min-h-[50vh] place-items-center p-8">
		<div class="text-center">
			<h1 class="font-serif text-3xl">Page not found</h1>
			<p class="mt-2 text-stone-600 dark:text-stone-300">
				<a href="/" class="styled-anchor">Back home</a>
			</p>
		</div>
	</main>
</Layout>
